
html{
    height: 100%;
    background-color: #aec8b4;
    border-image: linear-gradient(to right, #ffcae5,#ffaed7,#ff77bc,#ff48a5,#ff0081) 30;
    border-width: 4px;
    border-style: solid;
    border-bottom: 0;
    font-family: 'Akatab', sans-serif;
    font-weight: 100;
}
.container{
    max-width: 90%;
    margin: auto;
    padding: 30px 15px;
    color: #222a22;
    height: 100%;
}
.title_name{
    font-size: 60px;
    font-weight: 100;
    color: #56AB8B;
    font-style: italic;
}
.title_name span{
    color: #222a22;
}
.content-container{
    display: flex;
    height: 80%;
}
.sect-1{
    flex: 1;
    margin: auto;
    padding: 15px;
}
.sect-2{
    flex: 1;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
    padding: 10px 33px;
    margin-top: 40px;
    border: solid #ff48a5;
    border-bottom: 0;
    border-right: 0;
}
ul{
    list-style-type: none;
}
.skills ul{
    display: flex;
    width: 100%;
}
.skills li{
    margin: auto;
}
.skills li:nth-child(even){
    padding: 0 25px 40px;
}
.about p{
    text-align: justify;
    line-height: 1.5;
}
.menu li a{
    text-decoration: none;
    color: #222a22;
}
.menu li a:hover{
    text-decoration: underline;
    color: aliceblue;

}
.active-btn {
    color: aliceblue !important;
}
.italic-font{
    font-style: italic;
}
.footer{
    position: fixed;
}
@media (max-width: 1024px){
    .content-container{
        flex-direction: column;
    }
    .sect-2{
        margin: 0;
    }
    .footer{
        padding-top: 20px;
    }
}