@font-face {
    font-family: 'Assassin$';
    src: url('Assassin.eot');
    src: url('Assassin.eot?#iefix') format('embedded-opentype'),
        url('Assassin.woff2') format('woff2'),
        url('Assassin.woff') format('woff'),
        url('Assassin.ttf') format('truetype'),
        url('Assassin.svg#Assassin$') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

